{%extends 'authenticate/home.html'%}
{%load static%}
{%block content%}
<div class="dd">
    <img src="{% static 'images/White_Deox_Logo@4x.png'%}"  class="logo">
   </div>
    <button class="back-btn">
        <a href="{% url 'index'%}"><i class="fa-solid fa-chevron-left "></i>
            BACK HOME
        </a>  
    </button>
<style>
.form_class{
    padding:2px;
}

</style>

<div class="container-wrapper">
    <div class="container">
        <h2>Verification Page</h2>
            {% if messages %}
        <ul class="mess">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{%url 'enter-code'%}" method="post" class="myform"> 
            {% csrf_token %}
            <div class="form_class">
                <input type="hidden" name="username" value="{{ username }}">
                <input type="text" id="verification_code" name="verification_code">
                <label for="verification_code">Enter verification code:</label>
            </div>
             <div class="submit_button">
                <button type="submit">Verify</button>
            </div>
    </form>
</div>
</div>
<!-- 
<script>
    // JavaScript function to display an alert box with the success message
    window.onload = function() {
        alert("Verification code sent successfully. Please check your phone and enter the code below.");
    };
</script> -->
{%endblock%}
