{%extends 'authenticate/home.html'%}
{%load static%}

{%block content%}

    <img src="{% static 'images/White_Deox_Logo@4x.png'%}" class="logo">
    <button class="back-btn">
        <a href="{% url 'index'%}"><i class="fa-solid fa-chevron-left "></i>
            BACK HOME
        </a>  
    </button>
<div class="container-wrapper">
    <div class="container">
        <!--update password form-->
        <h2><u>Generate Verification Code</u></h2>
        <h3>Username: {{username}}</h3>
        <h3>Phone Number: {{ phone_number|slice:":4" }}******{{ phone_number|slice:"-2:" }}</h3>

        <form method="post" action="{% url 'send-code' %}" class="myform">
            {% csrf_token %}
            <button type="submit">Generate Verification Code</button>
        </form>
    </div>
</div>
{%endblock%}
