{%extends 'authenticate/home.html'%}
{%load static%}

{%block content%}
<br>
    <img src="{% static 'images/White_Deox_Logo@4x.png'%}" class="logo">
    <button class="back-btn">
        <a href="{% url 'index'%}"><i class="fa-solid fa-chevron-left "></i>
            BACK HOME
        </a>  
    </button>
<center>
    <div class="verification">
        <!--update password form-->
        <h1>Reset Password</h1>
        <form action="{% url 'reset-password' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ username }}">
            <label for="new_password1">Enter new password:</label><br>
            <input type="password" id="new_password1" name="new_password1"><br><br>
            <label for="new_password2">Enter new password again:</label><br>
            <input type="password" id="new_password2" name="new_password2"><br><br>
            <button type="submit" class="my-button">Reset Password</button>
        </form>
    </div>
</center>
{%endblock%}