{% extends 'main/utilities-about.html' %}
{%load static%}
{%block content%}
<div></div>

<div class="about-header">
    <h2>ABOUT US</h2>
</div>
<div class="story-container">
    <div class="img-container">
        <div class="div1">
            <h1>2 +</h1>
            <p>Years of Experience</p>
        </div>
        <img src="{% static 'images/659f70ef89da571efbd73bb1_image 3-p-500.webp'%}" alt="our restaurant" class="img-1">
               
    </div>
    <div class="our-story">
        <h2>Our Story</h2>
        <p>Pizza ipsum dolor meat lovers buffalo. Tomato mayo red black pork meatball lasagna lot. Buffalo peppers bell buffalo Philly pesto party black thin. String cheese hand marinara stuffed meatball garlic stuffed. NY lot Philly bacon bell red peppers. Garlic extra fresh and pork. Burnt onions steak green pizza pan Chicago lot NY. Tomato chicken Chicago beef bbq ricotta platter broccoli. Meatball sautéed ricotta bbq.</p>
        <button class="book-table">
            <a href="{%url 'contact'%}">
                Contact Us
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </button>
    </div>
</div>

<div class="instagram">
    <h1>Meet  our Team </h1>
</div>
<div class="product_gallery_container">
    <div class="product_gallery">
        {%for member in teams%}
        <div class="product">
            <div class="product_img">
                <img src={{member.profile_image.url}}>
            </div>
            <div class="product_name">
              Name:{{member.profile_name}}
            </div>
            <div class="product_category">
               Occupation: {{member.profile_occupation}}
            </div>
            <div class="product_price">
                {{member.quote}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>   
<div class="instagram">
    <h1>Instagram Gallery</h1>
</div>
<div class="gallery-container">
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1e62cac1b1a506a857_Rectangle 19.webp' %}" class="image2">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1e4deb5ad4e1eb117e_wepik-export-20240101084202rP9g 1.webp' %}" class="image3">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1dd1071c21f7950b12_Rectangle 22.webp' %}" class="image4">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1fb53dc2c26218efb3_Rectangle 21.webp' %}" class="image5">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1eb02bb26c005fc6cc_Rectangle 23.webp' %}" class="image6">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bb29c133d5685daf6a0ce_Rectangle 35.png' %}" class="image7">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
