{%load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="author" content="Thomas">
        <meta charset="UTF-8">
        <!--fontawesome-->
        <link rel="stylesheet" href="{% static 'fontawesome-free-6.2.0-web/css/all.min.css'%}">
        <!--stylesheet-->
        <link rel="stylesheet" href="{% static 'base.css'%}">
        <!--jquery-->
        <script src="{% static 'jquery/lib/jquery-3.6.0.min.js'%}"></script>
    </head>

    <style>
.nai_messages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: green; /* Set the background color to green */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000;
}

.flash-message {
    color: white;
    padding: 10px;
    border-radius: 5px;
    animation: fadeOut 5s ease forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


    </style>
    <body>
        {% include 'main/navbar.html'%}
        {%block content%}
        {%endblock%}
        {%include 'main/footer.html'%}
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Find the flash success messages and set a timeout for each
            const successMessages = document.querySelectorAll('.flash-message');
            successMessages.forEach(message => {
                setTimeout(() => {
                    message.style.display = 'none';
                }, 3000); // Message disappears after 3 seconds
            });
        });
    </script>

</html>
