{%extends 'main/utilities-contact.html'%}
{%load static%}
{%block content%}
<div class="contact-header">
    <h2>Contact Us</h2>
</div>    
<div class="contact-info">
    <div class="div1">
        <i class="fa-solid fa-house fa-2x"></i>
        <h3>Office Address </h3>
        <p>Egerton,Njoro, Nakuru,Kenya</p>
    </div>
    <div class="div2">
        <i class="fa-solid fa-phone fa-2x"></i>
        <h3>Phone</h3>
        <p>+254-7484-988-94</p>

    </div>
    <div class="div3">
        <i class=" fa-solid fa-envelope fa-2x"></i>
        <h3>Email Address</h3>
        <h3>Email Address</h3>
        <p> deoxmarket@gmail.com</p>
        
        </h3>
    </div>
</div>

<div class="our-faqs">
    <div class="general-q">
        <h2>General Questions</h2>
        <h3>What is Restaurant TNC known for?</h3>
        <p>TNC Restaurant is renowned for its culinary excellence, offering a diverse menu of dishes crafted with passion and precision.</p>
        <h3>Are reservations required?</h3>
        <p>While walk-ins are welcome, we recommend making a reservation to ensure prompt seating, especially during peak hours.</p>
        <h3>Do you accommodate dietary restrictions?</h3>
        <p>Absolutely. Please inform our staff about any dietary restrictions or allergies when making a reservation, and our chefs will do their best to accommodate your needs.</p>
        <h3>Is there a cancellation policy for reservations?</h3>
        <p>We kindly ask that you inform us of any cancellations at least 24 hours in advance. This allows us to manage our seating efficiently.</p>
    </div>
    <img src="{%static 'images/659bcb5fb155f3f41ac7eb00_Group 80-p-800.webp'%}" class="general-img" alt="Questions">
</div>
<br>
<center>
    <h1>Instagram Gallery</h1>
</center>
<br>    
<div class="gallery-container">
    <div class="more-gallery">
        <img src="{%static 'images/659bce1e62cac1b1a506a857_Rectangle 19.webp'%}" class="image2">
        <div class="my-img">
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
        </div>
    </div>
    <div class="more-gallery">
        <img src="{%static 'images/659bce1e4deb5ad4e1eb117e_wepik-export-20240101084202rP9g 1.webp'%}" class="image3">
        <div class="my-img">
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
        </div>
    </div>
    <div class="more-gallery">
        <img src="{%static 'images/659bce1dd1071c21f7950b12_Rectangle 22.webp'%}" class="image4">
        <div class="my-img">
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
        </div>
    </div>
    <div class="more-gallery">
        <img src="{%static 'images/659bce1fb53dc2c26218efb3_Rectangle 21.webp'%}" class="image5">
        <div class="my-img">
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
        </div>
    </div>
    <div class="more-gallery">
        <img src="{%static 'images/659bce1eb02bb26c005fc6cc_Rectangle 23.webp'%}" class="image6">
        <div class="my-img">
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
        </div>
    </div>
    <div class="more-gallery">
        <img src="{%static 'images/659bb29c133d5685daf6a0ce_Rectangle 35.png'%}" class="image7">
        <div class="my-img">
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
        </div>
    </div>
</div>
{%endblock%}