{%extends 'main/orders.html'%}
{%load static%}

{%block content%}

<div class="cart-items">
    <div class="items-cont">
            {%for order in order_item %}
            <img src={{order.product.product_image.url}} class="item-img">
            <div class="items">
                <div class="product-info">
                    <div class="product-name">
                        Product Name: {{order.product.product_name}}
                    </div>
                    <div class="price">
                        Price: Kshs: {{order.price}}
                    </div>
                    <div class="quantity">
                        Quantity: {{order.quantity}}
                    </div>
                  <div clas="price_total">   
                    Total: Kshs: {{order.total}}
                  </div>
                </div>
                <div class="product-info">
                    <div class="destination">
                        Destination Details: {{order.order.shipping_details}}
                    </div>
                    <div class="shipping_status">
                        Shipping Details: {{order.shipping_status}}
                    </div>
                   <div class="payment_status">
                    Payment Status: {{order.payment_status}}
                   </div>
                    <button class="update-btn">
                        <a href="{%url 'update-delivered' order.id %}">Mark as Collected</a>
                    </button>
                </div>
            </div>
        </div>
        {% empty %}
        <center>
            <p>No Current Orders</p>
        </center>
    {%endfor%}
</div>
{%endblock%}
