{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <meta name="author" content="Thomas"/>
        <!--fontawesome-->
        <link rel="stylesheet" href="{% static 'fontawesome-free-6.2.0-web\css\all.min.css'%}"/>
        <!--stylesheet-->
        <link rel="stylesheet" href="{% static 'footer.css'%}">
    </head>
    <body>
        <div class="footer-container">
            <div class="reach-us">
                
                <h1>GET IN TOUCH WITH US TODAY!</h1>
                <p>
                    <i class="fa-solid fa-phone"></i>
                    +254-748-498-894
                </p>
                <p>
                    <i class="fa-solid fa-envelope"></i>
                    deoxmarket@gmail.com
                </p>
            </div>
            <div class="my-links">
                <div>
                    <h2>Quick Links</h2>
                    <p>
                        <a href="{%url 'index'%}">HOME</a>
                    </p>
                    <p>
                        <a href="{%url 'about'%}">ABOUT</a>
                    </p>
                    <p>
                        <a href="{%url 'contact'%}">CONTACT</a>
                    </p>
                    <p>
                        <a href="{%url 'menu'%}">MENU</a>
                    </p>
                </div>
                <div>
                    <h2>SOCIAL MEDIA</h2>
                    <p>
                        <a href="https://www.facebook.com/profile.php?id=100083150784617">
                            FACEBOOK
                            <i class="fab fa-facebook" style="font-size:1.5rem;"></i>
                        </a>
                    </p>
                    <p>
                        <a href="https://x.com/DeoXegerton?t=FOOGQ_rG-fzKbxmergxraw&s=09">
                            TWITTER
                            <i class = "fab fa-twitter fa-2x" style="font-size:1.5rem;"></i>
                        </a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/invites/contact/?i=f42rny0bq04i&utm_content=pzpebmd">
                            INSTAGRAM
                            <i class="fab fa-instagram fa-2x" style="font-size:1.5rem;"></i>
                        </a>
                    </p>
                    <p>

                    </p>
                    <p>

                    </p>
                </div>
            </div>
        </div>
        <div class="credits">
            <p> Copyright 2024 Designed By <a href="#">Thomas</a></p>
        </div>
    </body>
</html>