{% extends 'main/base.html' %}
{%load static%}
{%block content%}   
<div class="welcome-section">
        <h1>Welcome to Deox</h1>
        <p>Discover Culinary Excellence </p>
        <button class="book-table">
            <a href="{%url 'menu'%}"> See full menu 
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </button>
    </div>
    <img src="{% static 'images/display_image.jpeg'%}" alt="hero1" class="home-img">
    <aside class="sidebar">
     
    </aside>
   <div class="our-services">
    <h2>Our Menus</h2>
   </div>
    <div class="our-menus">
       <div class="variant-menus">
            <div class="breakfast-menu">
                <h4>Breakfast Menu</h4>
                <button class="book-table">
                    <a href="{%url 'menu'%}">View Menu
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </button>
            </div>
            <div class="brunch-menu">
                <h4>Lunch Menu</h4>
                <button class="book-table">
                    <a href="{%url 'menu'%}">View Menu
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </button>
            </div>
            <div class="lunch-menu">
                <h4>Dinner Menu</h4>
                <button class="book-table">
                    <a href="{%url 'menu'%}">View Menu
                        
                    </a>
                </button>
            </div>

        </div>
    </div>
<div class="our-products">
        <h2>OUR PRODUCTS</h2>
        <form method=POST action ="{% url 'search-products'%}">
            {% csrf_token%}
            <input type="search" name="searched" class="search-input" placeholder="Search Products">
            <br><br>
            <button type="submit" class="search-btn">Search</button>
        </form>
    </div>
<div class="product_gallery_container">
    <div class="product_gallery">
            {%for product in products%}
        <div class="product">
            <div class="product_img">
                <img src={{product.product_image.url}}>
            </div>
            <div class="product_name">
                Name: {{product.product_name}}
            </div>
            <div class="product_category">
                {{product.description}}
            </div>
            <div class="product_price">
                Price: Kshs {{product.product_price}}
            </div>
            {%if user.is_authenticated%}
            <div class="add_cart">
                <button><a href="{%url 'add-to-cart' product.id %}">Add To Cart</a></button>
            </div>
            {% else %}
            <div class="add_cart">
                <button><a href="{%url 'login' %}">Add To Cart</a></button>
            </div>
            {% endif%}

        </div>
        {% endfor %}
    </div>
</div>    
    <div class="our-services">
        <h2>TESTIMONIALS</h2>
        <h3>Experience of our customers.</h3>
    </div>
   <div class="product_gallery_container">
        <div class="product_gallery">
            {%for review in reviews%}
            <div class="product">
                <div class="product_img">
                    <img src={{review.review_image.url}}>
                </div>
                <div class="product_name">
                    {{review.customer.username}}
                </div>
                <div class="product_category">
                    {{product.description}}
                </div>
                <div class="product_price">
                    {{review.description}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>    
    
{%endblock%}
