{%extends 'main/utilities_menu.html'%}
{%load static%}
{%block content%}
<div class="manu"></div>
<div class="menu-headers">
    <h2>Breakfast Menu</h2>
</div>


        <div class="product_gallery_container">
            <div class="product_gallery">
                {%for product in break_products%}
                <div class="product">
                    <div class="product_img">
                        <img src={{product.product_image.url}}>
                    </div>
                    <div class="product_name">
                        Name: {{product.product_name}}
                    </div>
                    <div class="product_category">
                        {{product.description}}
                    </div>
                    <div class="product_price">
                        Price: Kshs {{product.product_price}}
                    </div>
                    {%if user.is_authenticated%}
                    <div class="add_cart">
                        <button><a href="{%url 'add-to-cart' product.id %}">Add To Cart</a></button>
                    </div>
                    {% else %}
                    <div class="add_cart">
                        <button><a href="{%url 'login' %}">Add To Cart</a></button>
                    </div>
                    {% endif%}
        
                </div>
                {% endfor %}
            </div>
        </div>   




<div class="menu-headers">
    <h2>Lunch Menu</h2>
</div>
    <div class="product_gallery_container">
        <div class="product_gallery">
            {%for product in lunch_products%}
            <div class="product">
                <div class="product_img">
                    <img src={{product.product_image.url}}>
                </div>
                <div class="product_name">
                    Name: {{product.product_name}}
                </div>
                <div class="product_category">
                    {{product.description}}
                </div>
                <div class="product_price">
                    Price: Kshs {{product.product_price}}
                </div>
                {%if user.is_authenticated%}
                <div class="add_cart">
                    <button><a href="{%url 'add-to-cart' product.id %}">Add To Cart</a></button>
                </div>
                {% else %}
                <div class="add_cart">
                    <button><a href="{%url 'login' %}">Add To Cart</a></button>
                </div>
                {% endif%}
             </div>
            {% endfor %}
        </div>
    </div>  
<div class="menu-headers">
    <h2>Dinner Menu</h2>
</div>
    <div class="product_gallery_container">
        <div class="product_gallery">
            {%for product in dinner_products%}
            <div class="product">
                <div class="product_img">
                    <img src={{product.product_image.url}}>
                </div>
                <div class="product_name">
                    Name: {{product.product_name}}
                </div>
                <div class="product_category">
                    {{product.description}}
                </div>
                <div class="product_price">
                    Price: Kshs {{product.product_price}}
                </div>
                {%if user.is_authenticated%}
                <div class="add_cart">
                    <button><a href="{%url 'add-to-cart' product.id %}">Add To Cart</a></button>
                </div>
                {% else %}
                <div class="add_cart">
                    <button><a href="{%url 'login' %}">Add To Cart</a></button>
                </div>
                {% endif%}
    
            </div>
            {% endfor %}
        </div>
    </div>  


<div class="instagram">
    <h1>Instagram Gallery</h1>
</div>
<div class="gallery-container">
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1e62cac1b1a506a857_Rectangle 19.webp' %}" class="image2">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1e4deb5ad4e1eb117e_wepik-export-20240101084202rP9g 1.webp' %}" class="image3">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1dd1071c21f7950b12_Rectangle 22.webp' %}" class="image4">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1fb53dc2c26218efb3_Rectangle 21.webp' %}" class="image5">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bce1eb02bb26c005fc6cc_Rectangle 23.webp' %}" class="image6">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
    <div class="more-gallery">
        <div class="image-container">
            <img src="{% static 'images/659bb29c133d5685daf6a0ce_Rectangle 35.png' %}" class="image7">
            <div class="my-img">
                <a href="https://www.instagram.com"><i class="fab fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
