{% extends 'main/utilities-search-product.html' %}
{%load static%}
{%block content%}
            <style>
                .div-container  button{
                    margin-top:10px;
                    margin-left:20px;
                    padding: 6px;
                    border-radius:2px;

                }
            </style>
                <div class="div-container">
                    <h1>Search Results</h1>
                 <button> <a href="{% url 'index'%}" style="text-decoration:none;">
                    <i class="fa-solid fa-chevron-left"></i>
                    Back home
                </a></button>
                </div>
               

                <style>
                    .searched_product{
                        display:flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .searched_product p{
                        font-size:18px;
                    }
                </style>
                {% if searched %}
                <div class="searched_product">
                    {% if message %}
                    <p>{{ message }}</p>
                </div>
                 
                {% else %}

                <div class="product_gallery_container">
                    <div class="product_gallery">
                        {%for product in products%}
                        <div class="product">
                            <div class="product_img">
                                <img src={{product.product_image.url}}>
                            </div>
                            <div class="product_name">
                                Name: {{product.product_name}}
                            </div>
                            <div class="product_category">
                                {{product.description}}
                            </div>
                            <div class="product_price">
                                Price: Kshs {{product.product_price}}
                            </div>
                            {%if user.is_authenticated%}
                            <div class="add_cart">
                                <button><a href="{%url 'add-to-cart' product.id %}">Add To Cart</a></button>
                            </div>
                            {% else %}
                            <div class="add_cart">
                                <button><a href="{%url 'login' %}">Add To Cart</a></button>
                            </div>
                            {% endif%}
                
                        </div>
                        {% endfor %}
                    </div>
                </div>   
                {%endif%}
            {%else%}
                <h1>Search a product from our menu...</h1>
            {%endif%}
    {%endblock%}
