.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.container {
    text-align: center; 
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.1); 
    
}
.container h2{
   
    margin-bottom:0;
}

.myform {
    width: 400px;
    padding: 40px;
    margin-bottom:0;
}

.submit_button {
    width: 400px;
    border-radius: 20px;
    padding: 0;
    margin-top: 0;
    cursor: pointer;
    margin-bottom:0;
}

.form_class {
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    padding: 8px;
    border-radius: 4px;
    border: 1px solid gray;
    transition: box-shadow 0.3s ease; 
    position: relative; 
}

.form_class input[type='text'],
.form_class input[type='password'],
.form_class input[type='email'] {
    width: calc(100% - 20px); 
    border: none;
    padding: 10px;
    font-size: 18px;
    transition: border-color 0.3s ease;
}

.form_class input[type='text']:focus,
.form_class input[type='password']:focus,
.form_class input[type='email']:focus {
    font-size: 18px; 
    outline: none; 
}

.form_class:focus-within {
    border: 2.5px solid rgb(45, 102, 235);
    box-shadow: 0 0 10px rgba(45, 102, 235, 0.5);
}

.form_class label {
    position: absolute;
    left: 10px; 
    top: 40%; 
    transform: translateY(-0%); 
    transition: top 0.3s ease, font-size 0.3s ease; 
    font-size: 18px;
    margin-bottom: 4px; 
}

.form_class input[type='text']:focus + label,
.form_class input[type='text']:valid + label,
.form_class input[type='password']:focus + label,
.form_class input[type='password']:valid + label,
.form_class input[type='email']:focus + label,
.form_class input[type='email']:valid + label {
    top: 0; 
    font-size: 20px; 
}

button {
    background-color: rgb(4, 4, 193);
    color: #fff;
    border: none;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
}

.submit_button button:hover {
    background-color: rgb(17, 149, 231);
}

.account a {
    font-size: 20px;
    margin-left: 6px;
    text-decoration: none;
    padding: 2px;
    cursor: pointer;
    color: blue;
    transition: box-shadow 0.3s ease; 
}

.account a:hover {
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    color: blue;
    box-shadow: 0 0 10px rgba(45, 102, 235, 0.5);
}

.account {
    display: flex;
    margin-left: 10px;
    margin-top:0;
}

.account p {
    display: flex;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    margin-top:0;
}

.form_class .errorlist {
    display: flex;
    color: red;
    font-size: 14px;
    list-style: none;
    margin-left: 0;
}
.error{
    color:red;
    list-style: none;
}
.mess li{
    color:red;
    list-style: none;
    font-size:18px;
}

.accounte{
    display: flex;
    margin-left: 10px;
    margin-top:0;
    margin-bottom:0;

}
.accounte a{
    text-decoration:none;
    font-size:18px;
    margin-bottom:0;
    font-weight:600;
    transition:0.3 ease;
}
.accounte a:hover{
    background-color: rgb(109, 109, 238);
    color:white;
    padding:2px;
    border-radius:2px;

}
.dd{
    top:0;
   background-color:#9b8356;
}

.dd .logo{
    background-color:#9b8356;}
/* mobile view */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
        width: 100%; 
    }

    .myform {
        width: 90%; 
        padding: 20px; 
    }

    .submit_button {
        width: 100%; 
    }

    .form_class {
        padding: 8px; 
    }

    .form_class label {
        font-size: 16px; 
    }

    .form_class input[type='text'],
    .form_class input[type='password'],
    .form_class input[type='email'] {
        font-size: 16px; 
    }

    button {
        font-size: 14px; 
    }
}
.myform ul{
    list-style-type: none;
}
.myform label{
    font-size: 1.2rem;
    display: block;
}
.myform input{
    padding: 10px;
    border-radius: 25px;
    margin: 20px;
    width: 30%;
}
.mysubmit{
    width:20%;
    background-color: olive;
    color: #fff;
    border: transparent;
}
.cart-header{
    text-align: center;
}
.cart-img{
    max-width: 10%;
    border-radius: 50%;
}
.cart-close{
    border: transparent;
    background: transparent;
}
.item-img{
    max-width: 30%;
    border-radius: 25px;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
   
    border: 2px solid rgb(46, 45, 44);
    border-radius: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.items-desc{
    text-align:left;
    padding: 10px;
    margin-top: 10px;
}
.items-desc p{
    font-size: 1.2rem;
}
.cart-remove{
    padding: 10px;
    background-color: red;
    font-size: 1.2rem;
    border: transparent;
    border-radius: 25px;
    margin: 5px;
}
.cart-remove a{
    text-decoration: none;
    color: #fff;
}
.cart-order{
    padding: 10px;
    background-color: olive;
    font-size: 1.2rem;
    border: transparent;
    border-radius: 25px;
    margin: 5px;
}
.cart-order a{
    text-decoration: none;
    color: #fff;
}
.order-all{
    padding: 20px;
    background-color: rgb(59, 59, 236);
    font-size: 1.5rem;
    border: transparent;
    border-radius: 25px;
    margin:0 auto;
    width: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
    display:flex;
}
.order-all:hover{
background: linear-gradient(to  right,rgb(189, 126, 240),rgb(160, 160, 232));
}
.order-all a{
    text-decoration: none;
    color: #fff;
}
.totals{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#my-total{
    font-size: 2rem;
}
#actual-total{
    font-size: 2rem;
    text-decoration: none;
    font-weight:400;
}
.fom{
    border: 1px solid goldenrod;
    border-radius: 25px;
    padding: 10px;
}
.fom input{
    border-radius: 25px;
}
.fomsubmit{
    background-color: olive;
    color: #fff;
    border: transparent;
    padding: 10px;
    font-size: 1rem;
}
.order-item1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
/* .order-item2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 10px;
} */
.order-item2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.order-img{
    max-width: 20%;
    border-radius: 25px;
}
.details{
    margin-top: 20px;
}
.sidebar{
    position: fixed;
    top: 100px;
    left: 0;
    width: 400px;
    height: 100%;
    padding: 10px;
    transform: translate(-100%);
    transition: all 0.3s linear;
    background: black;
    z-index: 2;
}
.show-sidebar{
    transform: translate(0);
}
.side-form{
    padding: 20px;
    color: #fff;
}
.side-form input{
    background-color: #fff;
}
.side-form p{
    color: #fff;
}
.btn-container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-category{
    padding: 5px;
    margin: 5px;
    background:transparent;
    color: #fff;
    border-radius: 25px;
    border: transparent;
}
.order-category a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}
.link-img{
    width: 100px;
    border-radius: 50%;
}
.update-quantity{
    background-color: goldenrod;
    border: transparent;
    border-radius: 25px;
    padding: 10px;
}
.update-quantity a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.pay-btn{
    background-color: goldenrod;
    border-radius: 25px;
    border: transparent;
    padding: 10px;
}
.pay-btn a{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}
.quantity-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.profile{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width:60%;
    flex-direction: row;
    justify-content: space-evenly;
    border:1px solid black;
    border-radius: 25px;
}
.profile-div{
    text-align: center;
}
.profile-img{
   width:80px;
   height: 80px;
   border-radius: 50%;
}
.address-div{
    text-align: center;
    padding: 10px;
    border-left: 1px solid black;
}
.search-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
}
.search-items{
    padding: 5px;
    border: 1px solid black;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.search-img{
    width: auto;
    height: 300px;
}
.add-cart-btn{
    border-radius: 12px;
    border: transparent;
    padding: 12px;
    font-size: 1rem;
    background-color: goldenrod;
    color: #fff;
}
.add-cart-btn a{
    text-decoration: none;
    color: #fff;
}
.cart-center{
    margin-left: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}
.cart-center button{
    background-color: rgb(100, 91, 67);
    color: #fff;
    padding: 10px;
    margin: 0  auto;
    border: transparent;
    border-radius: 12px;
    display:flex;
    width:300px;
    transition:0.3 ease;
}
.cart-center button:hover{
    background-color: rgb(244, 135, 88);
    color:black;

}
.cart-center a{
    text-decoration: none;
    color: #fff;
}
.cart-center h2{
    margin-bottom:20px;
}


.back-btn{
    margin-top:5px;
    margin-left:40px;
    width:100px;
   
    color:white;
    
}
.back-btn a{
    color:white;
    text-decoration:none;
    display:flex;
    text-align: center;
    padding:4px;
    cursor: pointer;
    

}
.back-btn:hover{
    background-color: rgb(117, 117, 250);
    color:white;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 15%;
}
.my-button{
    color: #fff;
    background:rgb(138, 98, 12);
    border: transparent;
    border-radius: 25px;
    padding: 15px;
    font-size: 1rem;
}
.my-button a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.dd{
    top:0;
   background-color:#9b8356;
}

.dd .logo{
    background-color:#9b8356;}
@media screen and (max-width:992px) {
    .item-img{
        max-width: 50%;
    }
    .items{
        width: 80%;
    }
    .items-desc{
        width: auto;
        padding: 10px;
    }
    .items-desc button{
        display: block;
    }
    .cart-header{
        top: 10px;
    }
}
@media screen and (max-width:600px) {
    .cart-img{
        max-width: 20%;
    }
    .items{
        flex-direction: column;
    }
    .items-desc{
        width: auto;
        padding: 30px;
        margin-top: 5px;
    }
    .item-img{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
    }
    .btn-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .link-img{
        width: 100px;
    }
    .myform input{
        width: 60%;
    }
    .order-img{
        max-width: 40%;
    }
    .profile{
        width: auto;
    }
    .search-container{
        grid-template-columns: repeat(1,1fr);
    }
    .logo{
        max-width: 40%;
    }
    .profile{
        width: auto;
        flex-direction: column;
    }
    .profile-div{
        border-bottom: 1px solid black;
    }
    .address-div{
        border-left: none;
    }
}
