
*{
    margin: 0 auto;
}
.footer-container{
    background-color: rgb(110, 108, 108);
   display:flex;
   color:white;
    flex-direction: row;
   justify-content: space-around;
   border-bottom:2px solid white;
}
.socials{
    display:inline-block;
    
}
.socials h2{
    font-size:16px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}
.socials a{
    text-decoration:none;
    padding:4px;
    border-radius: 2px;
    cursor:pointer;
    margin-top:8px;
    color: white;
}
.socials p{
    display:flex;
    display:inline-block;
    margin-top:8px;
    font-size: 14px;
    margin-left:4px;
}
.socials a:hover{
    background-color: rgb(110, 110, 227);
    color:white;
}

.my-links a{
    
    text-decoration: none;
    cursor:pointer;
    padding:4px;
    border-radius:4px;
    font-size:14px;
    color:white;
}
.my-links p{
    display:inline-block;
    margin-top:8px;
}
.my-links h2{
    font-size:16px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}
.my-links a:hover{
    background-color: rgb(110, 110, 227);
    color:white;

}

.reach-us p{
    margin-top:8px;
}
.reach-us h2{
    font-size:16px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}
.reach-us p{
    font-size:14px;
    margin-left:2px;
}
.credits{
    padding:10px;
    font-size:18px;
    background-color: rgb(110, 108, 108);
    color:rgb(237, 224, 192);
    display:flex;
    align-items: center;
}
.credits a{text-decoration:none;
    color:white;
}


@media only screen and (max-width: 600px) {
    .footer-container {
        flex-direction: row;
    }

    .footer-container > * {
        margin: 0 10px; 
    }
}
