.manu{
    height:60px;
    margin-top:40px;

}
.menu-headers{
    background: url('images/659d2ff6d4836a19ed9210f7_Rectangle\ 63.webp');
    background-size: cover;
    background-position: center;
    margin-top:20px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;   
}
.special{
    margin-top: 10px;
}
.special h1{
    font-size: 4rem;
    text-decoration-line: underline;
}
.special-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 5px;
}
.special-img{
    max-width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
}
.indiv-special{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: transparent;
    background-color: #f8f1f1;
    border-radius: 25px;
}
.desc{
    padding: 10px;
    text-align: center;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cancelled{
    text-decoration: line-through;
}
.add-to-cart{
    width:150px;
    padding: 15px;
    border: transparent;
    border-radius: 15px;
    color: #fff;
    background-color: rgb(214, 181, 98);
}
.add-to-cart a{
    text-decoration: none;
    color: #fff;
}
.breakfast-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;
    justify-content: space-between;
}
.breakfast-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    background-color: #f8f1f1;
    margin: 10px;
    border: transparent;
    border-radius: 15px;
}
.breakfast-img{
    max-width: 30%;
    padding: 5px;
}
.break-desc{
    padding: 10px;
    text-align: justify;
}
.lunch-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;
    justify-content: space-between;
}
.lunch-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    background-color: #f8f1f1;
    margin: 10px;
    border: transparent;
    border-radius: 15px;
}
.lunch-img{
    max-width: 30%;
    padding: 5px;
}
.lunch-desc{
    padding: 10px;
    text-align: justify;
}
.dinner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;
    justify-content: space-between;
}
.dinner-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    background-color: #f8f1f1;
    margin: 10px;
    border: transparent;
    border-radius: 15px;
}
.dinner-img{
    max-width: 30%;
    padding: 5px;
}
.dinner-desc{
    padding: 10px;
    text-align: justify;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;
    position: relative;
}
.more-gallery{
    position: relative;
}

.my-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.gallery-div:hover .my-img{
    opacity: 1;
    color: #fff;
}
.more-gallery:hover .my-img{
    opacity: 1;
    color: #fff;
}
.gallery-div:hover .image1{
    opacity: 0.5;
}
.more-gallery:hover .image2{
    opacity: 0.5;
}
.more-gallery:hover .image3{
    opacity: 0.5;
}
.more-gallery:hover .image4{
    opacity: 0.5;
}
.more-gallery:hover .image5{
    opacity: 0.5;
}
.image2{
    max-width: 90%;
    margin-bottom: 5px;
    position: relative;
}
.image3{
    max-width: 90%;
    position: relative;
}
.image4{
    max-width: 90%;
    position: relative;
}
.image5{
    max-width: 90%;
    position: relative;
}
.image6{
    max-width: 90%;
    position: relative;
}
.image7{
    max-width: 90%;
    position: relative;
}
@media screen and (max-width:992px) {
    .manu{
        height:20px;
    }
    .menu-headers{
        width: 100%;
        height: 200px;
    }
    .special-container{
        grid-template-columns: repeat(2,1fr);
    }
    .breakfast-item{
        width: 400px;
    }
    .lunch-item{
        width: 400px;
    }
    .dinner-item{
        width: 400px;
    }
    .gallery-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:550px) {
    .manu{
        height:20px;
    }
    .menu-headers{
        width: 100%;
        height: 150px;   
    }
    .special-container{
        grid-template-columns: repeat(1,1fr);
    }
    .breakfast-container{
        grid-template-columns: repeat(1,1fr);
    }
    .breakfast-item{
        width: auto;
    }
    .breakfast-img{
        max-width: 40%;
    }
    .lunch-container{
        grid-template-columns: repeat(1,1fr);
    }
    .lunch-item{
        width: auto;
    }
    .lunch-img{
        max-width: 40%;
    }
    .dinner-container{
        grid-template-columns: repeat(1,1fr);
    }
    .dinner-item{
        width: auto;
    }
    .dinner-img{
        max-width: 40%;
    }
    .gallery-container{
        grid-template-columns: repeat(1,1fr);
    }
    .image1{
        max-width: 95%;
    }
    .image2{
        max-width: 95%;
    }
    .image3{
        max-width: 95%;
    }
    .image4{
        max-width: 95%;
    }
    .image5{
        max-width: 95%;
    }
    .image6{
        max-width: 95%;
    }
    .image7{
        max-width: 95%;
    }
}


.product_gallery {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.product {
    margin-left: 5px;
    min-width: 200px; /* Adjust the minimum width as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-right: 10px; /* Add some space between products */
    transition: box-shadow 0.3s ease;
    overflow-x: auto; /* Enable horizontal scrolling for individual products */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-color: rgb(7, 7, 7);
}

.product_img img {
    width: 100%;
    height:200px;
    object-fit: cover;
}

.product_name,
.product_category,
.product_price {
    margin-bottom: 5px;
}
.product_price{
    font-weight: 700;
    font-size:15px;
}

.add_cart button {
    display: flex;
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    width: 100%;
    font-weight: lighter;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: display 0.3s ease;
}

.product:hover .add_cart button {
    background-color: orange;
    color: white;
    display: block;
}

.add_cart button:hover {
    background-color: rgb(223, 152, 20);
    color: white
}
.add_cart a{
        text-decoration:none;
        color:white;
    }
    .add_cart button:hover{
        background:linear-gradient(to right, rgb(72, 154, 235),rgb(18, 207, 188));

    }
/* Desktop CSS */
@media only screen and (min-width: 768px) {
    .product_gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 100px; /* Reset margin-left for desktop */
    }

    .product {
        width: calc(20% - 20px); /* Adjust width for desktop */
        margin-right: 20px;
        margin-top:20px; /* Add more margin-right for desktop */
    }

    .add_cart button {
        display:flex; /* Make add to cart button visible by default on desktop */
        background-color: orange;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        width: 100%;
        font-weight: lighter;
        cursor: pointer;
        border-radius: 5px;
        text-transform: uppercase;
        transition: display 0.3s ease;
    }

    .product:hover .add_cart button {
        display: block /* Hide add to cart button on hover on desktop */
    }
    .add_cart a{
        text-decoration:none;
    }
}



.instagram{
    display:flex;
    justify-content: center;
    background:linear-gradient(to right,blue,rgb(151, 74, 218));
    
}
.instagram h1{
    padding:4px;
    color:white;
    
}

.gallery-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.more-gallery {
margin: 10px;
}

.image-container {
position: relative;
width: 200px; /* Adjust as needed */
height: 200px; /* Adjust as needed */
}

.image-container img {
width: 100%;
height: 100%;
object-fit: cover;
}

.my-img {
position: absolute;
bottom: 10px; /* Adjust as needed */
right: 10px; /* Adjust as needed */
}

.my-img a {
color: white;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
.image-container {
width: 150px; /* Adjust as needed */
height: 150px; /* Adjust as needed */
}
}
