html{
    background-color: #f1e5e5;
}
.cart-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
}
.item-img{
    width: 350px;
    height: 200px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.items-cont{
    margin: 20px;
    padding: 10px;
    border: 2px solid goldenrod;
    border-radius: 25px;
    align-items: center;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-info{
    padding: 10px;
}
.items-desc p{
    font-size: 1rem;
}
.update-btn{
    background-color: olive;
    padding: 10px;
    border: transparent;
    border-radius: 25px;
    width: 80%;
}
.update-btn a{
    text-decoration: none;
    color: #fff;
}
.update-review-btn{
    background-color: olive;
    padding: 10px;
    border: transparent;
    border-radius: 25px;
    width: 40%;
}
.update-review-btn a{
    text-decoration: none;
    color: #fff;
}
.review-img{
    max-width: 20%;
    border-radius: 50%;
}
@media screen and (max-width:676px)  {
    .cart-items{
        grid-template-columns: repeat(1,1fr);
    }
    .items{
        flex-direction: column;
        align-items: center;
    }
    .product-info{
        padding: 0;
    }
}